@import "reset.css";

@import url(http://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic);

body {
    font-family: 'Play', sans-serif;
    color: #606060;
    background: #f3f3f3;
    font-size: 12px;
}

a {
    color: #728499;
    text-decoration: none;
}
a:hover {
    color: #3278CC;
    text-decoration: underline;
}

header,
section,
footer {
    padding: 10px;
    width: 900px;
    margin: 10px auto;
    background: rgba(255, 255, 255, .9);
    border-radius: 10px;
    -moz-box-shadow:    3px 3px 10px 1px #808080;
    -webkit-box-shadow: 3px 3px 10px 1px #808080;
    box-shadow:         3px 3px 10px 1px #808080;
}

header {
    height: 60px;
    display: block;
    overflow: auto;
}
header nav {}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    float: left;
    padding: 20px;
}

header .logo {
    float: left;
    display: block;
    width: 100px;
    height: 40px;
}
header .right-block {
    float: right;
}
header .right-block .role {}
header .right-block .account {}

section#content {
    min-height: 300px;
}

footer {
    text-align: right;
}

.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -100px;
    border-radius: 10px;
    padding: 20px;

    background: rgba(255, 255, 255, .9);
    -moz-box-shadow: 3px 3px 10px 1px #808080;
    -webkit-box-shadow: 3px 3px 10px 1px #808080;
    box-shadow: 3px 3px 10px 1px #808080;
}
.modal .close {
    position: absolute;
    right: 10px;
    top: 5px;
}

label {
    display: inline-block;
    width: 100px;
}
button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;

    border-radius: 4px;
    border: 1px solid #bcbcbc;

    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);

    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}

button:hover {
    color: #555;
}

button:active,
button:active:after,
button:active:before {
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea,
input {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    width: 200px;
}

textarea:active,
input:active {
    border: 1px solid #d0d0ff;
}

h2 {
    font-size: 1.5em;
    color: #CC4032;
}
